<ion-tabs>

  <ion-tab-bar slot="bottom">

    <!-- Clients tab -->
    <ion-tab-button tab="client">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    
    <!-- Products tab -->
    <ion-tab-button tab="products">
      <ion-icon name="list-box"></ion-icon>
    </ion-tab-button>

    <!-- Cart tab -->
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>

    <!-- Settings tab -->
    <ion-tab-button tab="tab3">
      <ion-icon name="cog"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
