ion-header{
    ion-toolbar{
        ion-title{
            padding-left: 0;
            padding-right: 0;
            color: white;
        }
    }
    
}

.header-ios ion-toolbar:last-child{
    --border-width: 0;
}

.sc-ion-card-ios-h{
    border-radius: 0;
}

ion-card {
    --background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 7em;
}

ion-button{
    border-radius: 2px;
    background-color: red;
    color: white !important;
    margin-top: 1em;
}

.vertical-align-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
  }
  