<ion-header>

  <ion-toolbar color="primary">
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
  
  <ion-toolbar color="medium" class="sub-header">
    <ion-label *ngIf="cartClient">
      <ion-icon name="ios-person"></ion-icon>
      <span class="text">{{ cartClient.name }}</span>
    </ion-label>
    <ion-label *ngIf="!cartClient" (click)="showClientsTab()">
      <ion-icon name="ios-person-add"></ion-icon>
      <span class="text">Asignar cliente</span>
    </ion-label>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="cartQuantity.length > 0">
  <ion-list>

    <ion-item-sliding *ngFor="let cartItem of cartQuantity">

      <ion-item lines="inset">

          <ion-thumbnail slot="start">
              <img src="{{ cartItem.product.image }}">
          </ion-thumbnail>
            <ion-label>
              <b>{{ cartItem.product.name }}</b><br>
              <div class="item-counter">
                <ion-icon name="remove-circle" color="primary" (click)="subQuantity(cartItem.product.id)" item-right></ion-icon>
                {{ cartItem.quantity }}
                <ion-icon name="add-circle" color="primary" (click)="addQuantity(cartItem.product.id)" item-right></ion-icon>
              </div>
            </ion-label>
            
            <h1 slot="end" class="ion-text-right">$200</h1>
            
      </ion-item>

      <ion-item-options side="end">
          <ion-item-option (click)="removeFromCart(cartItem.product.id)">
            <ion-icon class="remove-item-icon" name="trash"></ion-icon>
            <ion-label>Eliminar</ion-label>
          </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>

<ion-content *ngIf="cartQuantity.length == 0">
  <ion-label class="vertical-align-center">No hay productos en el carrito.</ion-label>
</ion-content>

<ion-footer *ngIf="cartQuantity.length > 0">
  <ion-toolbar class="cart-total-price">
      <b>Total:</b> <span slot="end">{{ totalPrice | currency:'USD':'symbol' }}</span>
  </ion-toolbar>
</ion-footer>