.vertical-align-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}

.cart-total-price {
  padding-left: 1em;
  padding-right: 1em;
}

.item-counter {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 0.5em;

  ion-icon {
    font-size: 1.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

.remove-item-icon{
  font-size: 1.5em;
}

.sub-header{
  text-align: center;
  
  span{
    display: inline-block;
    vertical-align: middle;
  }

  ion-icon {
    font-size: 1.5em;
    padding-right: 0.5em;

    display: inline-block;
    vertical-align: middle;
  }
}
