<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Ingrese un cliente" animated (ionChange)="SearchClient( $event )">
  </ion-searchbar>

  <ion-list *ngIf="!viewskeleton">
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]" (click)="showProductDetails(product)">
      <ion-thumbnail slot="start">
        <img src="assets/images/defaut-profile-picture.png">
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="viewskeleton">
      <ion-item *ngFor="let client of clients | filter:searchText:'name'; index as i" (click)="showDetails(client)">
      <ion-avatar slot="start">
        <img src="assets/images/defaut-profile-picture.png">
      </ion-avatar>
      <ion-label>
          <h2><span class="client-order">{{ i+1 }}º</span>{{ client.name }}</h2>

        <p>{{ client.address }}</p>
        <p class="text-primary">{{client.distance}} kms</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>