.image {
	margin-left: 1px;
	margin-right: 1px;
}

.user-image{
    img{
        width: 75%;
        margin: 0 auto !important;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

ion-label{
    width: 100%;

    .client-title{
        margin-top: 1em;
        text-align: center !important;

        ion-badge{
            margin-top: 1em;
        }
    }
}

ion-item-group{
    width: 100%;
    margin-top: 1em;
}

#btn-add-cart-client{
    width: 100%;
}