<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ data.name }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding *ngIf="data">
    <div id="profile-info">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="user-image">
              <img src="assets/images/defaut-profile-picture.png"  />
            </ion-col>
            <ion-label>
              <div class="client-title">
                <h1>{{ data.name }}</h1>
                <p><b>CUIL:</b> {{ data.legal_id }}</p>
                <ion-badge color="primary">Zona 11</ion-badge>
              </div>
            </ion-label>

            <ion-item-group>
              <ion-item-divider>
                <ion-label>Dirección</ion-label>
              </ion-item-divider>
            
              <ion-item lines="none">
                <ion-label>{{ data.address }}</ion-label>
              </ion-item>

              <ion-item-divider>
                  <ion-label>Email</ion-label>
                </ion-item-divider>
              
                <ion-item lines="none">
                  <ion-label>{{ data.email }}</ion-label>
                </ion-item>
              
                <ion-item-divider>
                  <ion-label>Teléfono</ion-label>
                </ion-item-divider>
              
                <ion-item lines="none">
                  <ion-label>{{ data.fixed_phone }}</ion-label>
                </ion-item>

                <ion-item-divider>
                  <ion-label>Celular</ion-label>
                </ion-item-divider>
              
                <ion-item lines="none">
                  <ion-label>{{ data.cell_phone }}</ion-label>
                </ion-item>
            </ion-item-group>

          </ion-row>
        </ion-grid>
      </div>

      <ion-button color="primary" id="btn-add-cart-client" (click)="confirmAddClientToCart(data)">
        <ion-icon name="ios-person-add" class="ion-margin-end"></ion-icon>
        Asociar al carrito
      </ion-button>

</ion-content>