<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ data.name }}</ion-title>
  </ion-toolbar>
</ion-header>
  


<ion-content class="ion-padding" *ngIf="data">
  <div class="product-wrapper">
    <img src="{{ data.image }}"/>
    <br>
    <span class="muted-text" id="product-name">{{ data.name }}</span>
    <p class="muted-text"><span class="highlighted-custom">{{ data.brand }}</span></p>
    <p class="product-desc muted-text">{{ data.description }}</p>

    <ion-button color="primary" id="btn-add-cart" (click)="addProductToCart(data)">
      <ion-icon name="add-circle" class="ion-margin-end"></ion-icon>
      Añadir al carrito
    </ion-button>
  </div>
  <hr/>
</ion-content>