.product-wrapper p.item-price{
    margin: 0;
    color: #000;
    font-size: 1.6rem;
}
.product-wrapper span{
    font-size: 1.2rem
}
.product-desc{
    font-size: 1.2rem
}
h6{
    margin:0;
    font-weight: lighter;
    font-size: 1.5rem;
}
.highlighted-custom{
    color:#d13434;
    font-weight: bold;
}

img{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

#product-name{
    font-size: 2rem;
}

p{
    margin: 5px 0;
    font-size: 1.2rem
}

#btn-add-cart{
    width: 100%;
}
  