<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Ingrese un producto"
                 animated
                 (ionChange)="SearchProduct( $event )"      
  ></ion-searchbar>

  <ion-list  *ngIf="!viewskeleton">
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]" (click)="showProductDetails(product)">
        <ion-thumbnail slot="start">
          <img src="assets/images/defaut-profile-picture.png">
          </ion-thumbnail>
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
</ion-list>
  
  <ion-list  *ngIf="viewskeleton">
      <ion-item *ngFor="let product of products | filter:searchText:'name'" (click)="showProductDetails(product)">
          <ion-thumbnail slot="start">
            <img src="{{ product.image }}">
          </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          
          <p>{{ product.description }}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>

 
